✳️削除が完了するまで数日かかります。
<div class="delete">
<div class="delname">
<input type="text" placeholder="お名前" >
</div>
<div class="delmessage">
<textarea name="your-message" placeholder="削除理由" rows="4" cols="40"></textarea>
</div>
 <%= link_to "削除依頼する", root_path,class:"delreason"%>
 </div>